<html lang="en">
  <head>
    {{>metalinks}}
  </head>
  <body>
    <!-- navbar  -->
    {{>navbar}}

    <!-- main content -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- main_header_left -->

            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="./images/about.jpg"
                  alt="bg-img"
                  class="img-fluid"
                  title="About me"
                />
              </figure>
            </div>

            <!-- main_header_right -->

            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I am a <span>Frontend Developer</span> </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
   {{>footers}}
  </body>
</html>